<div class="container">

  <!--Section: About-->
  <section id="about" class="section about mt-3 mb-5">

    <!--Secion heading-->
    <div class="row mt-5 mb-4">
      <div class="col-md-12 div-color-2">
        <div class="divider-new">
          <h3 class="text-center text-uppercase font-weight-bold mr-3 ml-3 wow fadeIn" data-wow-delay="0.2s">Quando procurar um endocrinologista?</h3>
        </div>
      </div>

      <p class="justify ml-3 mr-3 mt-1 mb-5">A endocrinolgoia... ampla, clinica, etc
      </p>
    </div>
    <!--First row-->

    <div class="row mt-3">

      <!--First column-->
      <div class="col-md-4 mb-5 text-center wow fadeIn" data-wow-delay="0.4s">

        <!--Panel-->
        <div class="card card-body text-left white hoverable">
          <p class="feature-title title font-weight-bold dark-grey-text text-uppercase spacing mt-4 mx-4">
            <i class="fa fa-square green1-text mr-2" aria-hidden="true"></i>
            <strong>Tenho diabetes?</strong>
          </p>
          <p class="grey-text font-small mx-4">Sede, visão turva... estão entre os sintomas de diabetes, falr ate completar 3 linhas em todas
          </p>
        </div>
        <!--/.Panel-->

      </div>
      <!-- /First column -->


      <!-- Second column -->
      <div class="col-md-4 mb-5 text-center">

        <!--Panel-->
        <div class="card card-body text-left white hoverable">
          <p class="feature-title title font-weight-bold dark-grey-text text-uppercase spacing mt-4 mx-4">
            <i class="fa fa-square green1-text mr-2" aria-hidden="true"></i>
            <strong>E problema na tireoide?</strong>
          </p>
          <p class="grey-text font-small mx-4">Cansaço, pele seca, indiposição, variação no peso, podem significar um problema na tireoide
          </p>
        </div>
        <!--/.Panel-->

      </div>
      <!-- /.Second column -->

      <!-- Third column -->
      <div class="col-md-4 mb-5 text-center">

        <!--Panel-->
        <div class="card card-body text-left white hoverable">
          <p class="feature-title title font-weight-bold dark-grey-text text-uppercase spacing mt-4 mx-4">
            <i class="fa fa-square green1-text mr-2" aria-hidden="true"></i>
            <strong>E as outras glândulas?</strong>
          </p>
          <p class="grey-text font-small mx-4">Os sintomas são amplos etc, como x y e z... Saiba mais sobre a especialidade, mais uma linha..
          </p>
        </div>
        <!--/.Panel-->

      </div>
      <!-- /.Third column -->

    </div>
    <!-- /.First row -->

  </section>
  <!--Section: About-->

</div>