<!--Section: Tratamentos-->
<div class="container">

  <section class="section" id="services">

    <!--Secion heading-->
    <div class="row mt-5 mb-4">
      <div class="col-md-12 div-color-2">
        <div class="divider-new">
          <h3 class="text-center text-uppercase font-weight-bold mr-3 ml-3 wow fadeIn" data-wow-delay="0.2s">Tratamentos</h3>
        </div>
      </div>

      <p class="grey-text text-center ml-3 mr-3 mt-1 mb-5">tirar?
      </p>

      <!--First row-->
      <div class="row text-center mr-2 ml-2 mt-3">

        <!--First column-->
        <div class="col-lg-4 col-md-12 mb-4 wow fadeIn" data-wow-delay="0.4s">
          <!--Card-->
          <div class="card">

            <!--Card image-->
            <div class="view hm-white-slight waves-light" mdbWavesEffect>
              <img src="../assets/img/blue.jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
              <a>
                <div class="mask"></div>
              </a>
            </div>

            <!--Card content-->
            <div class="card-body">
              <!--Title-->
              <h4 class="card-title">Card title</h4>
              <!--Text-->
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a class="btn btn-primary waves-light" mdbWavesEffect>Button</a>
            </div>

          </div>
        </div>
        <!--/.Card-->
        <div class="col-lg-4 col-md-12 mb-4 wow fadeIn" data-wow-delay="0.4s">
          <!--Card-->
          <div class="card">

            <!--Card image-->
            <div class="view hm-white-slight waves-light" mdbWavesEffect>
              <img src="https://mdbootstrap.com/img/Others/food6.jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
              <a>
                <div class="mask"></div>
              </a>
            </div>

            <!--Card content-->
            <div class="card-body">
              <!--Title-->
              <h4 class="card-title">Card title</h4>
              <!--Text-->
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a class="btn btn-primary waves-light" mdbWavesEffect>Button</a>
            </div>
          </div>
        </div>
        <!--/.Card-->
        <div class="col-lg-4 col-md-12 mb-4 wow fadeIn" data-wow-delay="0.4s">
          <!--Card-->
          <div class="card">

            <!--Card image-->
            <div class="view hm-white-slight waves-light" mdbWavesEffect>
<img src="https://mdbootstrap.com/img/Others/food6.jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
              <a>
                <div class="mask"></div>
              </a>
            </div>

            <!--Card content-->
            <div class="card-body">
              <!--Title-->
              <h4 class="card-title">Card title</h4>
              <!--Text-->
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a class="btn btn-primary waves-light" mdbWavesEffect>Button</a>
            </div>

          </div>
          <!--/.Card-->
        </div>
      </div>
      <!--/Third column-->

    </div>
    <!--/First row-->

  </section>

</div>
<!--/Section: Products-->
